.carousel-item img{
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 700px;
}
.carousel-caption {
  top: 35%;
}

/* product css */
.product{
  box-shadow: 0 1rem 3rem rgba(0,0,0,.275);
  padding: 20px;
  border-radius: 10px;
  height: 100%;
  
}
.product img{
  width: 100%;
}

/* about css */
.about{
background-color: #F3F4F8;
}
.a-img img{
  width: 100%;

}

/* sign in img */
.s-img{
  width: 100%;
}

/* contact css */

