.menu-section{background-color: #4879FE;}
.menu-bar{  padding: 5px 20px;}
.menu li{
list-style: none;
display: inline-block;
margin-right: 30px;
font-size: 17px;
font-weight: 600;
color: #ffffff ;
}
.menu li:hover{
  color: #FF6F00;
}
.offcanvas-body li{
  list-style: none;
  text-align: center;
  margin: 10px 0;
}
.offcanvas-body  a{
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.login, .signup{
  border: 0;
  padding: 10px 30px;
  margin: 0 5px;
  border-radius: 50px;
}
.login, .signup:hover{
  background-color: white;
  color: black;
}
.signup, .login:hover{
  color: white;
  background-color: #FF6F00;
}

/* footer css */

.footer{
  background-color: rgb(229, 231, 233);
  padding:100px 0;
}
.footer li a{
  text-decoration: none;
 color: black;
  font-weight: bold;
}
.footer li{
  list-style: none;
  margin: 10px 0;
}

.social-icons li{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
 }
 .instagram{
  background: linear-gradient(#4E5CC7,#e01d47,#FF7638);
 }
 .facebook{
  background-color: #1E8AED;}
 .youtube{
  background-color: #E10404;
 }
 .footer h5{
   color: #4879FE;
   font-size: 22px;
 }

 .footer input{
   padding: 10px;
   width: 100%;
   outline: none;
 }